@font-face{
  src: url(./fonts/Gilroy-SemiBold.ttf);
  font-family: Gilroy;
}
@font-face{
  src: url(./fonts/Montserrat-SemiBold.ttf);
  font-family: MontserratS;
}
@font-face{
  src: url(./fonts/Montserrat-Regular.ttf);
  font-family: Montserrat;
}

*{
  margin:0;
  padding:0;
}
body .container
{
  display: flex;
  background-image: url(./assets/priscilla-du-preez-MU93ZoQPNB8-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  overflow: hidden;
}
.containerL
{
      width: 50%;
      height: 100vh;
      background-color: rgba(80,80,80, 0.1);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter:blur(10px);
      
}  
.containerR
{
    width: 100%;
    background-color: rgba(0,0,0, 0.2);
    padding: 50px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;     
}

.containerR .text{
   font-family: Gilroy;
   color: white;
   font-size: 20px;
}

.containerR .degree{
  padding-right: 30px;
    color: white;
    font-size: 120px;
    
    font-family: Gilroy;
     
}

.containerR .icon
{   padding-right: 30px;
    width:100px;
    height:100px;
}

.containerR .info {
    padding-right:30px ;
}

.containerR .info .city{ 
    color:white;
    font-family: MontserratS;
    font-size: 50px;
    
}
.containerR .info .date
{
    color:white;
    font-family: Montserrat;
    font-size: 18px;
}
    

.weather-card{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.info-container{
  padding: 60px;
}

.secondary-txt{
  font-size: 18;
  font-family: Montserrat;
  color: white;
  opacity: 0.3;
}

.search{
  display: flex;
}

.search-bar{
  font-size: 12px;
  font-family: Montserrat;
  color:white;
  background-color: transparent;
  border-bottom: 0.001em solid rgba(256,256,256, 0.5);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  height: 42px;
  width: 100%;
  outline: none;
}

.search-button{
  height: 42px;
  width: 46px;
  background-color: white;
  border: none;
  
}

.search-suggestion{
  font-size: 12px;
  font-family: Montserrat;
  color: white;
  opacity: 0.3;
  padding-top: 24px;
}

.horizontal-divide{
  margin-top: 30px;
  height: 0.05em;
  background-color: white;
  opacity: 0.5;
  width: 100%;
}

.info-panel-heading{
  margin-top: 50px;
  padding-bottom: 20px;
  font-family: MontserratS;
  color: white;
  font-size: 20px;
}

.details-card{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.details-element{
  font-family: Montserrat;
  color: white;
  font-size: 13px;
  opacity: 0.9;
}

.details-element-value{
  font-family: MontserratS;
  color: white;
  font-size: 14px;
}